/* botaoLogado.css */
.botao-logado {
    display: inline-block;
    background-color: #9563ff;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
   margin-top: 8px;
   margin-left: 3rem;
  }
  
  .botao-logado:hover {
    background-color: #b392ff;;
  }
  
  .botao-logado:active {
    background-color: #3f3e8e;
  }
  