.principal-cadastro{
    min-height: 44em;
    padding: 0px;
    margin: 0%;
    background-image: url(../../assets/ceu.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 600px;
    padding: 20px 40px 40px ;
    text-align: center;
    
    background: rgba(225, 225, 225, 0.15);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 20px;

}
.card {
    display: flex;
    flex-direction: column;
    width: 100%px;
    height: 100%;
   
    border-radius: 10px; 
    background: rgba(225, 225, 225, 0.15);
    backdrop-filter: blur(25px);
  
}
.btn-cadastro {
    background: #9563ff;
    color: #f9f9f9;
    border: 0;
    transition: 0.175s;
    cursor: pointer;

    display: block;
    height: 48px;
    width: 270px;
    margin: 0 40px;
    border-radius: 4px;
    font-size: 16px;
    font-family: Poppins;
    text-align: center;
}
.btn-verificar{
    background: #9563ff;
    color: #f9f9f9;
    border: 0;
    transition: 0.175s;
    cursor: pointer;

    display: block;
    height: 48px;
    width: 270px;
    margin: 20px 40px;
    border-radius: 4px;
    font-size: 16px;
    font-family: Poppins;
    text-align: center;


}

.image-cadastro{
    margin: 0 auto 30px;
    width: 140px;
    height: 140px; 
    object-fit: contain;
}
.swiper-slide > h2 {
    padding-top: 1em;
    color: #2f2e41; 
    margin: 0 0 6px;
    font-size: 2em;
}
.swiper-slide > h3 {
    color: #69687a;
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 14px;
    align-self: stretch; 
    
    margin-bottom: 6em;
}

.Cdt-input{ 
    display: block;
    height: 48px;
    width: 270px;
    margin: 0 40px;
    font-size: 16px;
    font-family: poppins;
    text-align: center; 
    margin-bottom: 8px;

    background: rgb(255, 255, 255);
   

}

button:disabled { 
    background: #e1e0e8;
    color: #bbbac5;
    cursor: not-allowed;
}
.swiper { width: 100%;}