.principal-cadastro{
    min-height: 46em;
    padding: 0px;
    margin: 0%;
    background-image: url(../../assets/ceu.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container-cadastro{
    width: 450px;
    height: 500px;
    border: 1px solid black;
    background-color: #fff;
    padding: 20px 30px;
    
    border-radius: 10px;
    text-align: center;
    
}
.img-voltar{
    height: 50px;
    width: 50px;
}
.button-form-cadastro{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
  
    text-align: center;
    font-weight: bold;
  
    margin-top: 10px;
    margin-right: 3em;
    margin-left: 2em;
    height: 44px;
    border: 2px solid black;
    width: 35%;
    border-radius: 400px;
  
    color: #fff;
}
