.main{
  min-height: 45em;
  padding: 0px;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  border-radius: 20px;
  padding: 1em 3em;
  height: 500px;
  width:400px ;
  border: 1px solid brown;
  color: rgb(5, 5, 5);
  background: linear-gradient(68.15deg, #aa3737 16.62%, #bd4407 85.61%);

  column-span: all;
}
.login-box{
  border:  1px solid green;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.btn-login{
  color: #140c08;
}
.title-login{
  display: flex;
  justify-content: center;
}