.mainL{
  min-height: 44em;
  padding: 0px;
  margin: 0%;
  background-image: url(../../assets/ceu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}
textarea:focus, input:focus{
  outline: none;
}
 label{
  font-size: .9rem;
  text-decoration: none; /*tira o sublinhado*/
  margin: 0.4em;
}
a{ 
  text-decoration: none; /*tira o sublinhado*/
  color:rgb(51, 12, 226) ;
}
/*-----------*/

.container-login{
  width: 450px;
  height: 550px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  
  border-radius: 10px;
  text-align: center;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  
}
form{
  margin-top: 30px;
  margin-bottom: 40px;
}
label, input, select{
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.3em;
  
}
label{
  font-weight: bold;
}
input{
  border-bottom: 2px solid #323232;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
 
 
}
select, option{
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  color:#323232;
  
}
input:focus{
  border-bottom:2px solid rgb(161, 53, 53) ;
}
/*------Entrar--------*/
button[type ="submit"]{
 
  padding: 10px;
  font-size: 1rem;

  text-align: center;
  text-transform: uppercase; /*todas as letras são em maiuscula*/
  font-weight: bold;
  margin-top: 5px;
  margin-right: 3em;
  margin-left: 2em;
  height: 44px;
  border: 2px solid black;
  width: 35%;
  border-radius: 400px;
  background-color: #c186e4;  
  color: #0c0c0c;
  cursor: pointer;
  
}
.bt-login{
  margin: 8px;
}
input:invalid{
  animation:shake .2 ease-in-out 0s 2;
  border: 2px solid red;
}
@keyframes shake{
  0%{transform: translate(0rem);}
  25%{transform: translate(-5rem);}
  50%{transform: translate(0.5rem);}
  100%{transform: translate(0rem);}
}