.mainL{
  min-height: 46em;
  padding: 0px;
  margin: 0%;
  background-image: url(../../assets/icons/ceu02.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

}
textarea:focus, input:focus{
  outline: none;
}
a, label{
  font-size: .9rem;
  text-decoration: none; /*tira o sublinhado*/
}

/*-----------*/

.container-login{
  width: 450px;
  height: 500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px 30px;
  
  border-radius: 10px;
  text-align: center;
  
}
form{
  margin-top: 30px;
  margin-bottom: 40px;
}
label, input, select{
  display: block;
  width: 100%;
  text-align: left;
  
}
label{
  font-weight: bold;
}
input{
  border-bottom: 2px solid #323232;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}
select, option{
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  color:#323232;
}
input:focus{
  border-bottom:2px solid rgb(161, 53, 53) ;
}
/*------Entrar--------*/
button[type ="submit"]{
  border-bottom: 2px solid #323232;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;

  text-align: center;
  text-transform: uppercase; /*todas as letras são em maiuscula*/
  font-weight: bold;

  margin-top: 10px;
  margin-right: 3em;
  margin-left: 2em;
  height: 44px;
  border: 2px solid black;
  width: 35%;
  border-radius: 400px;

  color: #fff;
}