.Config-div-main{
   min-height: 1500px;
   padding-top: 1.5em;
   display: flex;
   flex-wrap: wrap;
   flex-direction:unset;
   gap:2em;
   justify-content: center;

}
#all-containers{
    
    background-color: #ffffff;
    border: #333333d5 solid 1px;
    border-radius: 1em;
    margin: 1em;
    padding: 1.5em;
    box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5);

    height: 500px;
    width: 600px;

    transition: all 0.3s ease-in-out;
}
#all-containers:hover{
    transform: translateY(-5px);
}

.Config-div-main > p{
    border-bottom: 1px solid #333;
}
button[type ="Remove"]{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;

  text-align: center;
  text-transform: uppercase; /*todas as letras são em maiuscula*/
  font-weight: bold;

  margin-top: 10px;
  margin-right: 3em;
  margin-left: 2em;
  height: 44px;
  border: 2px solid;
  width: 35%;
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  cursor: pointer;
}
/*---------------------------------------------------*/

.container-message-banner{
   
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
 
}
