.main{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 490px;
    padding: 80px 0 0;
    border-radius: 10px; 
    background: #ffffff;
    box-shadow: 0 20px 80px rgb(000/ 8%);
}
img {
    margin: 0 auto 30px;
    width: 140px;
    height: 140px; object-fit: contain;
}
h2 {
    color: #2f2e41; margin: 0 0 6px;
}
h3 {
    color: #69687a;
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 14px;
    align-self: stretch; 
}

input{ 
    display: block;
    height: 48px;
    width: 270px;
    margin: 0 40px;
    border-radius: 4px;
    font-size: 16px;
    font-family: Poppins;
    text-align: center; }

button {
        display: block;
        height: 48px;
        width: 270px;
        margin: 0 40px;
        border-radius: 4px;
        font-size: 16px;
        font-family: Poppins;
        text-align: center; }
input {
    padding: 12px; 
    margin-bottom: 8px;
 }


button:disabled { 
    background: #e1e0e8;
    color: #bbbac5;
    cursor: not-allowed;
}
.swiper { width: 100%;}