*{
    margin: 0%;
}
.principal{
    min-height: 2004px;
    display: flexbox;
}

/*--------------------containers--------------------------------------------*/
.primeiro{  /*1º*/
    height: 650px;
    margin: 0%; 
}
.segundo{
    height: 400px; /*2º*/
    margin: 0px;
    border: 1px solid gray;
    display: flex;
    justify-content:center;

  
}
.Title-diretoria{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon-presidente{
    height: 60px;
    width: 60px;
    border: 2px solid blueviolet;
    border-radius: 15px;
    background-image: url(../../assets/icons/3729.png);
    background-size:cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;

}
.terceiro{ /*3º*/
    height: 400px;
    margin: 0px;
}
.quarto{
    height: 400px; /*4º*/
    margin: 0px;
}
.quinto{
    height: 400px; /*5º*/
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.Sub-div-img{
    background-image: url(../../assets/imagem.jpg);
    background-size:cover;
    background-position: center;
    height: 580px;
    border-bottom:1px solid rgb(49, 49, 49);
   
    filter: brightness(45%);
    z-index: 0;
    
}
.info-img{
    display: flex;
    align-items: center;
    color: brown;
    height: 300px;
    width:600px;
    flex-wrap: wrap;
    margin-left: 17px;
    position: absolute;
    filter: contrast(250%);
    font-size: small;

    z-index: 1;
    margin-left: 33em;
    
}

.Sub-Title{
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-family:monospace;
}
.Title{
   color: brown;
   font-size: 50px;
   margin-top: 30px;
   font-family: 'Courier New';
}

/*------------estatuto----------*/
.estatuto-title{
    display: flex;
    border-bottom: 1px solid rgb(83, 80, 80);
}
.img-download{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 250px;
    border: 1px solid black;
}
