*{
    margin: 0;
    box-sizing: border-box;
    border: none;
}
.principal{
    min-height: 2004px;
    max-width: 1350px;
}


/*--------------------containers------------------------------------------------*/
.primeiro{  /*1º*/
    height: 590px;
    margin: 0%; 
    margin-bottom: 50px;
}
.segundo{
    height: 700px; /*2º*/
    margin: 0px;
    width: 100%;
    display: block;
    background-color: #000000d9;
    padding: 40px;
}
.terceiro{ /*3º*/
    height: 600px;
    margin: 0px;
    
}
.quarto{
    height: 400px; /*4º*/
    margin: 0px;
    border: 1px solid rgb(255, 72, 0);
}
.quinto{
    height: 400px; /*5º*/
    margin: 0px;
    align-content: space-between;
   
  
}

/*------------estatuto--------------------------------------------------*/
.estatuto-title{
    display: flex;
    border: #05adf5 solid 1px;
    height:80px;
    width: 500px;
    display: flex;
    justify-content: center;
}
.img-download{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    font-weight: bold;
}
.btn-download{
    border-bottom: 1px solid black;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #252525;
}
.span-container{

    height: 300px;
    width: 100%;
    
}

/*------------diretoria--------------------------------------------------*/

.icon-presidente{
    height: 60px;
    width: 60px;
    border: 1px solid rgb(6, 2, 10);
    background-image: url(../../assets/icons/3729.png);
    background-size:cover;
    background-position: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 5px;

}
.Card-identificação{
    width: 300px;
    border: 1px solid #fff;
    height: 230px;
    background: #ececec;

}
.container-cards{
    width: 100%;
    display: flex;

}
.titulo-cards{
    font-size: 4.5em;
    color: rgb(218, 216, 214);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family:monospace;
}
/*------------apresentação-----------------------------------------------------*/
.Sub-div-img{
    background-image: url(../../assets/imagem01.jpg);
    background-size:cover;
    background-position: center;
    height: 100%;
    border-bottom:1px solid rgb(49, 49, 49);
   
    background-position-y: -300px;
    z-index: 0;
}
.info-img{
    display: flex;
    align-items: center;
    color: brown;
    height: 300px;
    width:600px;
    flex-wrap: wrap;
    margin-left: 17px;
    position: absolute;
    filter: contrast(250%);
    font-size: small;

    z-index: 2;
    margin-left: 33em;
   
}

.Sub-Title{
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-family:monospace;
}
.Title{
   color: brown;
   font-size: 50px;
   margin-top: 30px;
   font-family: 'Courier New';
}

.alert{
    background-color: rgb(255, 255, 255);
    display: flex;
    color: rgb(8, 7, 7);
    
    height: 4vh;
    font-family:'Times New Roman';
    font-size: 15px;
    font-weight: bold;
}
.btn-quem-somos{
    height: 7vh;
    width: 18vh;
    border: 2px solid #fff;
    border-radius: 13px;
    background: rgba(59, 59, 59, 0.575);
    
}
.btn-a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.btn-a:hover{
    color: brown;
    
}
/*-------vídeo---------*/
