.mensagem-container{
    width: 100%;
    padding:0.5em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
    border-radius: 5px;
}
.message{
    color: rgb(79, 42, 165);
    font-size: 17px ;
    font-family: monospace;

}
.erro{
    color: #721c24;
    font-size: 17px ;
    font-family: monospace;
   /* background-color: #f8d7da;
    border-color: #f5c6cb;*/
}
.valido{
    color: #155724;
    font-size: 17px ;
    font-family: monospace;
   
    /*background-color: #d4edda;
    border-color: #c3e6cb;*/
}
.Aviso{
    color: #c9c504;
    font-size: 17px ;
    font-family: monospace;
    background-color: #ede8d4;
    border-color: #e5e6c3;
}