* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
html , body, #root{
    background: linear-gradient(-229deg, #ccc4c4 ,#ccc4c4, #41322b );
    
}
/*background: linear-gradient(-229deg, #D9AFD9, #97D9E1);*/