* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
html , body, #root{
    background: linear-gradient(68.15deg, #ccc4c4 16.62%, #140c08 85.61%);
    
}
