.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ReactModal__Content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background-color: #0f0f0f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: 0 20px;
  }
  
  .ReactModal__Content:focus {
    outline: none;
  }
  
  .btn-Member {
    display: block;
    margin-top: 10px;
  }
  