.header{
    padding: 1em;
    background: rgb(99, 99, 240);
    border: 2px solid black;
    height: 104px;
    
}
.logo{
    height: 44px;
    width: 44px;
    margin-top: 5px;
    margin-left: 2px;
}
.list{
    display: flex;
    justify-content: space-between;
    background: rgb(99, 99, 240);
    height: 60px ;
    padding: 0%;
    

    
}
#link{
    color: black;
    margin-top: 22px;
    margin-right: 3em;
    margin-left: 2em;
    height: 44px;
    font-weight: bold;
}
.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}
