.main-ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 600px;
  }
  

  .Btn-ficha {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-ficha> table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: calc(100% / 8); /* adiciona essa linha */
  }
  
  /*novo*/
  .main-ficha > th {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    
  }
  thead{
    display:flex;
    min-width: 53em;

  }
  .table-members th {
    text-align: center;
  }
/*------------*/  
   tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  @media only screen and (max-width: 600px) {
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    td {
      position: relative;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 40%;
      padding-right: 10px;
      font-weight: bold;
      text-align: right;
    }
  }
  