.main-ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 800px;
    
  }
  .Btn-ficha {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  th,
  td {
 
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  /*novo*/
 th {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    min-height: 30px;
  }
  thead{
    text-align: center;
    width: calc(100% / 8);

  }
  .table-members{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid red;
  }
  .table-members th {
    text-align: center;
 
  }
/*------------*/  
   tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  @media only screen and (max-width: 600px) {
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    td {
      position: relative;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 40%;
      padding-right: 10px;
      font-weight: bold;
      text-align: right;
    }
  }
  