/*------------estatuto--------------------------------------------------*/
.estatuto-title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;

    color: #fff;
    font-family: monospace;
    font-size: 2.0em;
    flex-wrap: wrap;
   
}

.span-container:hover{
    box-shadow: 2px 2px 16px #ececec;
}
.span-container{
    display: flex;
    height: 200px;
    width: 60%;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(12px);
    background: linear-gradient(-229deg, #ccc4c4 ,#ccc4c4);
    border: #ffffff solid 1px;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
   
}


.btn-download{
    border-bottom: 1px solid black;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #252525;
    cursor: pointer;
}
.quinto{
    height: 360px; /*5º*/
   
}
