.quarto{
    height: 520px;
    margin: 0px;
    
    border-radius: 0.5em;
    background-color: none;
}
.card2{
    display: flex;
    flex-direction: column;
    width: 100%px;
    height: 100%;
    border-radius: 10px; 
    backdrop-filter: blur(25px);
 
}
.swiper2{ width: 100%;}

.swiper-slide2{
    width: 100%;
    height: 310px;
    padding: 20px 40px 40px ;
    text-align: center;
    background: linear-gradient(-229deg, #ccc4c4 ,#ccc4c4);
    backdrop-filter: blur(25px);

    
}

/*-------Filiação------------------------------------------------------------------*/
.filiacao_btn{
    display: flex;
    background: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: bold;
    color: black;
    align-self: center;
    border: solid 2px black;
    margin-left: 5px;
}
.fotos-back{
  width: 55%;
  height: 110%;
  object-fit:fill;
}