.terceiro{ /*3º*/
    height: 600px;
    margin: 0px;
    padding: 1.5em;
   
    
}
/*-------vídeo---------*/
.container-video{
    border: 1px solid #3d3d3d;
    padding: 1px;
    height: 100%;
    width: 100%;
}
