
* {
    padding: 0px;
    margin: 0px;
}
.footer{
    display: flex;
    border:  1px solid rgb(0, 0, 0);
    min-height: 50px;
    background: rgba(24, 23, 23, 0.87);
    height: 130px;
    align-items: center;
    justify-content: center;
}
i{
    display: flex;
    align-items: center;
    justify-content: center;
}