* {
    padding: 0px;
    margin: 0px;
}
.footer{
    display: flex;
    background: rgba(7, 7, 7, 0.918);
    height: 130px;
    justify-content:space-around;
  
}
.info-column{
    display: block;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
    width: 160px;
    margin-top: 2em;
   
   
}
.Social-column{
    display:flex ;
    align-self: flex-end;
    justify-content: space-around;
    height: 3em;
    width: 100px;
   

}

