.erro-404{

    background: #efefef;
    height: 600px;
   
}
.erro-404 > h1{
    color: #666;
    font-size: 50px;
    font-family: monospace;
    font: bold;

    display: flex;
    justify-content: flex-start ;
    align-items: center;
    border: #666 1px solid;
    
    padding: 1em;
}
.erro-404 > h2{
    font-size: medium;
    color: rgb(201, 9, 89);
    font: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #666 1px solid;
}