.erro-404{

    background: #efefef;
    height: 600px;
   
}
.erro-404 > h1{
    color: #676;
    font-size: 50px;
    font-family: monospace;
    font: bold;

    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 1em;
}
.erro-404 > h2{
    font-size: 1.5em;
    color: rgb(201, 9, 89);
    font: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}